<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Nuevo Reto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="newRetoForm" (ngSubmit)="crearReto(newRetoForm.value)">
    <ion-item>
      <ion-label position="floating">Título <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="TITULO" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea formControlName="DESCRIPCION" type="text" autocapitalize="sentences" [autoGrow]="true"
        required></ion-textarea>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Tipo</ion-label>
            <ion-select formControlName="TIPO" value="ocular" multiple="false" placeholder="Tipo de Reto" required>
              <ion-select-option value="ocular">Ocular</ion-select-option>
              <ion-select-option value="prismaticos">Prismaticos</ion-select-option>
              <ion-select-option value="telescopio">Telescopio</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Nivel</ion-label>
            <ion-select formControlName="NIVEL" value="facil" multiple="false" placeholder="Nivel de dificultad"
              required>
              <ion-select-option value="facil">Facil</ion-select-option>
              <ion-select-option value="intermedio">Intermedio</ion-select-option>
              <ion-select-option value="dificil">Dificil</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button (click)="selectImage()" expand="block" fill="clear" shape="round" color="primary">
      Seleccionar imagen
    </ion-button>
    <ion-item *ngIf="image">
      <ion-img [src]="image"></ion-img>
    </ion-item>
    <ion-item>
      <ion-checkbox formControlName="ACTIVO" slot="start" checked="true"></ion-checkbox>
      <ion-label>Marcar Reto como Activo</ion-label>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="!newRetoForm.valid" color="primary">Crear Reto</ion-button>
  </form>

</ion-content>

<ion-footer>


  <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round">Cancelar</ion-button>
</ion-footer>