<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <app-retos [retos]="retos"></app-retos>
  <app-menu [menuOpts]="menuOpts"></app-menu>
  <app-fab-login *ngIf="ionFabVisible"></app-fab-login>
</ion-content>
