<ion-card>
  <ion-card-header>
    <ion-item>
      <ion-card-subtitle color="primary">{{ reto.TITULO }} </ion-card-subtitle>
      <ion-icon
        name="information-circle-outline"
        color="primary"
        slot="end"
        (click)="verDetalle(reto.ID)"
      ></ion-icon>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-img [src]="reto.IMAGEN"></ion-img>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="auto">
          <ion-icon [name]="getIconTipo(reto.TIPO)" color="primary"></ion-icon>
        </ion-col>
        <ion-col size="auto">
          <ion-icon
            name="ellipse-sharp"
            [color]="getColorNivel(reto.NIVEL)"
          ></ion-icon>
        </ion-col>
        <ion-col size="auto" *ngIf="esRetoConseguido">
          <ion-icon
            name="checkmark-circle-sharp"
            color="success"
            (click)="removeRetoConseguido(reto.ID, this.userEmail)"
          ></ion-icon>
        </ion-col>
        <ion-col size="auto" *ngIf="!esRetoConseguido">
          <ion-icon
            name="checkmark-circle-outline"
            color="success"
            (click)="setRetoConseguido(reto.ID, this.userEmail)"
          ></ion-icon>
        </ion-col>
        <ion-col size="auto" *ngIf="esFavorito">
          <ion-icon
            name="star-sharp"
            color="primary"
            (click)="quitarFavorito(reto.ID, this.userEmail)"
          ></ion-icon>
        </ion-col>
        <ion-col size="auto" *ngIf="!esFavorito">
          <ion-icon
            name="star-outline"
            color="primary"
            (click)="setFavorito(reto.ID, this.userEmail)"
          ></ion-icon>
        </ion-col>

        <ion-col size="auto"> </ion-col>
      </ion-row>
      <ion-icon
        name="share-social-outline"
        slot="end"
        color="primary"
        (click)="compartirReto()"
      ></ion-icon>
    </ion-item>
  </ion-card-content>
</ion-card>
